<!--
<md-card class=" w-100">
  <md-card-title> title </md-card-title>
  <md-card-header>
    &lt;!&ndash;<div md-card-avatar [mdMenuTriggerFor]="menu" class="example-header-image"></div>&ndash;&gt;
   header
  </md-card-header>
  <md-card-content>
   content
  </md-card-content>
  &lt;!&ndash;<a md-raised-button routerLink="/parent">goto component1</a>&ndash;&gt;
</md-card>-->

<div class="p-2">
  <p>user image,user</p>
  <a href="#"><h2>王宝强要结婚啦？婚纱照曝光，新娘比马蓉漂亮100倍！</h2></a>
  <p>王宝强自去年在微博发布离婚申明之后，整个娱乐圈都地震了一下，马蓉成千夫所指。然而事情都过去那么久了，宝宝现在也从阴影中走了出来，
    并且重新找了女朋友。
    其实宝宝的新娘正是温婉大气，比马蓉漂亮100倍熊乃瑾，网传两者恋爱即将结婚的消息，乐乐绝对双手称赞并送上祝福。熊乃瑾一直以清纯才女的形象示人，
    有着四川妹子的娇小与玲珑，个子虽然不高，但长相甜美，面容姣好，且拥有精致的五官，纤小的脸型，和晶莹剔透的肌肤...
  </p>
  <div>
    <md-chip-list class="float-left">
      <md-chip>java</md-chip>
      <md-chip color="primary" selected="true">my sql</md-chip>
      <md-chip color="accent" selected="true">前端</md-chip>
    </md-chip-list>
    <i class="material-icons ml-3">visibility</i> <span>98</span>
    <i class="material-icons ml-1">chat_bubble</i><span>10</span>
    <i class="material-icons ml-1">thumb_up</i><span>8</span>
  </div>
</div>
<md-list>
  <md-divider></md-divider>
</md-list>
