.logo {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}

.my-title {
  height: 50px;
  padding-top: 12px;
  padding-bottom: 16px;
  background-color: #24292e;
  margin-bottom: 12px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.write-btn {
  float: right;
  width: 100px;
  height: 38px;
  line-height: 24px;
  margin: 9px 15px 0;
  border-radius: 4px;
  font-size: 15px;
  color: #fff;
  background-color: #ea6f5a;
}

a {
  display: block;
  color: #c1c3c6;
  outline: none !important;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

a:hover {
  color: #f6fcff;
}


.nav-name {
  display: inline-block;
  padding: 0 11px 20px 6px;
  font-size: 16px;
  color: #0f0b52;
}

.app-nav-css {
  height: 80vh;
  width: 100%;
}

.w-15 {
  width: 15%;
}

.app-overflow {
  overflow-y: visible;
}

.material-icons.md-light {
  color: rgb(2, 5, 4);
}


.foot{
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  /*background-color: black;*/
}
