<!--
<md-card class=" w-100">
  <md-card-title> title </md-card-title>
  <md-card-header>
    &lt;!&ndash;<div md-card-avatar [mdMenuTriggerFor]="menu" class="example-header-image"></div>&ndash;&gt;
   header
  </md-card-header>
  <md-card-content>
   content
  </md-card-content>
  &lt;!&ndash;<a md-raised-button routerLink="/parent">goto component1</a>&ndash;&gt;
</md-card>-->

<div class="p-2">
  <p>user image,user</p>
  <a href="#"><h2>article title </h2></a>
  <p>Lorem ipsum dolor sit amet, pede a libero aenean phasellus, lectus metus sint ut risus, fusce vel in pellentesque.
    Nisl rutrum etiam morbi consectetuer tempor magna, aenean nullam nunc id, neque vivamus interdum sociis nulla
    scelerisque sem, dolor id wisi turpis magna aliquam magna. Risus accumsan hac eget etiam donec sed, senectus erat
    mattis quam, tempor vel urna occaecat cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula
    ipsum dui sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu erat nulla
    in
    aenean lacinia ullamcorper, urna ante nam et sagittis, tristique vehicula nibh ipsum vivamus, proin proin. Porta
    commodo nibh quis libero amet. Taciti dui, sapien consectetuer...</p>
  <div>
    <md-chip-list class="float-left">
      <md-chip>java</md-chip>
      <md-chip color="primary" selected="true">my sql</md-chip>
      <md-chip color="accent" selected="true">前端</md-chip>
    </md-chip-list>
    <i class="material-icons ml-3">visibility</i> <span>98</span>
    <i class="material-icons ml-1">chat_bubble</i><span>10</span>
    <i class="material-icons ml-1">thumb_up</i><span>8</span>
  </div>
</div>
<md-list>
  <md-divider></md-divider>
</md-list>
