<div class="pl-4">
  <form [formGroup]="userForm">
    <md-input-container >
      <input mdInput  placeholder="用户名" [(ngModel)]="user.name" formControlName="name" required >
      <md-hint *ngIf="!name.valid && name.touched" align="end">{{name.errors.errMsg}}</md-hint>
    </md-input-container>
    <md-input-container class="example-full-width">
      <input mdInput type="password" placeholder="密码" [(ngModel)]="user.password" required formControlName="password">
      <md-hint *ngIf="!password.valid && password.touched" align="end">{{password.errors.errMsg}}</md-hint>
    </md-input-container>
    <md-input-container class="example-full-width">
      <input mdInput type="password" placeholder="再次输入" #checkPass required formControlName="checkPassword">
      <md-hint *ngIf="!checkPassword.valid && checkPassword.touched" align="end">{{checkPassword.errors.errMsg}}</md-hint>
    </md-input-container>
  </form>
  <div class="m-1">
    <button md-raised-button color="primary" [disabled]="!userForm.valid" (click)="submit()">注册</button>
    <button md-raised-button color="primary" class="ml-2" (click)="cancel()">取消</button>
  </div>
  <p></p>
  <h5 class="p-3"> 合作账号  </h5>
  <p class="p-3"> QQ[伪] </p>
</div>
